<footer class="dt w-100 w-50-l w-75-m ph4 ph0-ns center mv5 relative">
  <p class="ma0 f5 dtc tl v-mid">
    2018 © Daniel Schifano Ltd.
  </p>
  <div class="dtc tr v-mid flex justify-end items-center">
    <a href="https://www.linkedin.com/in/daniel-schifano/"
      target="_blank"
      title="LinkedIn"
      class="dtc v-mid pr3">
      <img src="../../img/linkedin-logo.svg"
        width="20px"
        height="20px"
        class="dtc v-mid">
    </a>
    <a href="https://dribbble.com/danielschifano"
      target="_blank"
      title="Dribbble"
      class="dtc v-mid pr3">
      <img src="../../img/dribble-logo.svg"
        width="20px"
        height="20px"
        class="dtc v-mid">
    </a>
    <a href="https://github.com/danielschifano"
      target="_blank"
      title="Github"
      class="dtc v-mid pr2">
      <img src="../../img/github-logo.svg"
        width="20px"
        height="20px"
        class="dtc v-mid">
    </a>
  </div>
</footer>
