<article class="w-100 w-60-l w-75-m ph4 ph0-ns center">
  <h1 class="f1 lh-title pt5 pb3 ma0">
    I help clients and teams build products with purpose. Product Designer at Rangle.io.
  </h1>
  <h3 class="f2 fw6 pb5 ma0">
    Previously Tealbook, JetBlue, Discount, Roche, The Vitamin Shoppe, ThyssenKrupp Elevator.
  </h3>
</article>

<hr class="w-100">

<article class="w-100 w-60-l w-75-m ph4 ph0-ns center mv5">
  <p class="ma0 f4 fw5 pb5">Selected Work</p>
  <div class="flex-ns dt">
    <!-- Tealbook -->
    <a
      href="#"
      style="height:580px; background-image: url(img/work/tealbook-front.jpg);"
      class="link dt cover bg-center w-50-ns w-100 dim mr2">
      <span class="white dtc v-btm w-100 h-100 child pa4">
        <p class="ma0 f6 ttu">Tealbook - Product Strategy and Execution</p>
        <p class="ma0 f3 pt3">Understanding supplier intelligence</p>
      </span>
    </a>
    <!-- Tealbook -->
    <a
      href="#"
      style="height:580px; background-image: url(img/work/tealbook-front.jpg);"
      class="link dt cover bg-center w-50-ns w-100 dim ml2">
      <span class="white dtc v-btm w-100 h-100 child pa4">
        <p class="ma0 f6 ttu">Tealbook - Product Strategy and Execution</p>
        <p class="ma0 f3 pt3">Understanding supplier intelligence</p>
      </span>
    </a>
  </div>
</article>

<hr class="w-100">
